<hr />
<br />
<h5>{{h5Title}}</h5>
<br />
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-5">
  {{#each items}}
    <div class="col">
      <div class="card border-0 h-100">
        <img src={{path}} alt={{name}} />
        <div class="card-body d-flex flex-column">
          <h6 class="card-title text-center">{{name}}</h6>
          <p class="card-text text-center mt-auto">${{price}}</p>
          <a
            href="/product?id={{id}}"
            class="btn btn-primary mt-auto stretched-link"
          >Add to cart</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>