<div class="user-account text-center">
 {{{info}}}
 <input type="text" class="get-route get-status d-none" value={{page}} id={{status}} />
 <input type="text" class="d-none get-app-name" value={{appName}} />
 <input type="text" class="d-none get-cartitem-amount" value={{cartItemAmount}} />
 <div class="logout-confirm-message">
    <p>Are you sure you want to log out?</p>
    <a class="cancel-logout">Cancel</a> <a href="/logout" class="confirm-logout">Logout</a>
 </div>
</div>
