<div class="container">
    <div id="active-control" class="d-none {{activePage}}"></div>
    <div class="container d-flex justify-content-center h-50">
        <img class="col-sm-12" src="https://images.hive.blog/p/k75bsZMwYNu2L3iBMXq5y7xeiy1isFJsZxnMZSXuXEsxe4ee1cUkGyPr9xtMuoSZWL2HtLh5sxET4G95LgCp9gXmURk1y7W4FAmMibzQ8XNPiAWGmyuVW2FKB3uzw2z7crigcbX7AvvnQMgmTkTnvhZiKbtUaQDsT?format=match&mode=fit"
                alt="birthday-gif" />
    </div>
    {{> partial items = birthdayItems}}
    <!--for get current route -->
    <input type="text" class="get-route get-status d-none" value={{page}} id={{status}} />
    <input type="text" class="d-none get-app-name" value={{appName}} />
    <input type="text" class="d-none get-cartitem-amount" value={{cartItemAmount}} />
  </div>



 
 
 
 
 
 
 
  
