<br /><br />
<div class="container">
  <div class="product-name ps-5">
    <h1>{{item.name}}</h1>
  </div>
  <div class="product-details row mt-5 d-flex align-items-start">
    <div class="product-photo col-6">
      <img src={{item.path}} alt={{item.name}} />
    </div>
    <div class="product-info col-6">
      <div class="product-price"><h3>${{item.price}}</h3></div>
      <div class="produce-intro"><p>{{item.details}}</p></div>
      <div class="product-quantity pt-3" >
        <h6>Quantity:</h6>
        <div class="d-flex align-items-center gap-3" >
          <i class="bi bi-dash-circle fs-4 "></i>
          <input
            class="quantity-input text-center"
            type="number"
            name="quantity"
            value="0"
            min="0"
            max={{item.quantity}}
          />
          <i class="bi bi-plus-circle fs-4"></i>
          <div><span class="alert text-danger">Quantity out of limit!</span></div>
        </div>
      </div>
      <br />
      <div class="product-color">
        <h6>Color:</h6>
        <input type="color" value="#e66465" />
        <input type="color" value="#f6b73c" />
        <input type="color" value="#f5a73c" />
      </div>
      <div class="addToCart pt-5">
        <a  class="rounded-pill border-2">Add to Cart</a>
      </div>
    </div>
  </div>
  <br/>
  {{> partial items = randomResults}}
  <!--for get current route -->
  <input type="text" class="get-route get-status d-none" value={{page}} id={{status}} />
</div>