<br /><br />
<div class="container">
  <div class="product-name ps-5">
    <h1>{{item.name}}</h1>
    <input type="text" class="d-none get-item-id" value={{item._id}} />
  </div>
  <div class="product-details row mt-5 d-flex align-items-start">
    <div class="product-photo col-6">
      <img src={{item.path}} alt={{item.name}} />
    </div>
    <div class="product-info col-6 align-items-start">
      <div class="product-price"><span class="fs-3 {{#ifEquals item.price item.newPrice}}original-price{{else}}text-decoration-line-through{{/ifEquals}}">${{item.price}}</span>&nbsp;
      <span class="fs-3 {{#ifEquals item.price item.newPrice}}d-none{{else}}text-danger{{/ifEquals}}">${{item.newPrice}}</span></div>
      <div class="produce-intro"><p>{{item.details}}</p></div>
      <div class="product-quantity pt-3" >
        <h6>Quantity:</h6>
        <div class="d-flex align-items-center gap-3" >
          <i class="bi bi-dash-circle fs-4 "></i>
          <input
            class="quantity-input text-center"
            type="number"
            name="quantity"
            value="0"
            min="0"
            max={{item.quantity}}
          />
          <i class="bi bi-plus-circle fs-4"></i>
        </div>
      </div>
      <div class="addToCart pt-4">
        <a class="rounded-pill border-2" id="addToCart">Add to Cart</a>
      </div>
      <div class="alert-message mt-3"></div>
    </div>
  </div>
  <br/>
  {{> partial items = randomResults}}
  <!--for get current route -->
  <input type="text" class="get-route get-status d-none" value={{page}} id={{status}} />
  <input type="text" class="d-none get-app-name" value={{appName}} />
  <input type="text" class="d-none get-cartitem-amount" value={{cartItemAmount}} />
</div>